{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <script
            src="https://code.jquery.com/jquery-1.12.4.min.js"
            integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
            crossorigin="anonymous"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/strategy.css' %}">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {#     Goto https://www.google.com/fonts to get fonts like this! #}
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">

    {% block page-css %}
    {% endblock %}
    {% block ajax-js %}
    {% endblock %}
    {% block page-js %}
    {% endblock %}

    <meta charset="UTF-8">
    <title>Tutoring Strategies</title>


</head>
<body>
<div class="page-header">
    <div style="left: 0;">
        <img src="{% static 'images/apple-touch-icon.png' %}" width="60" height="60">
    </div>
    <div style="position: absolute; top: 10px; width: 600px; height: 50px; left: 120px;"> <h1><a href="/">MathSpring Admin Tool</a></h1></div>

</div>

<a href="{% url 'admin:index' %}">Go to the Admin for Base Strategy Components</a>
<div class="content container">
    <div class="row">
        <div class="col-md-8">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>
</body></body>
</html>