{% extends 'msadmin/base_ajax.html' %}
{# Note that extending base_ajax.html is necessary to pick up the CSRF token necessary for post requests to work #}
{% block page-css %}
    #exTab3 .tab-content {
        color : green;
        background-color: #eeeeee;
        padding : 5px 15px;
    }
{% endblock %}

{% block page-js %}
    <script language="javascript">

        function validCustomStrategy () {
            var x = document.forms["customStrategyForm"]["strategyName"].value;
            if (x == "") {
                alert("Strategy Name must be filled out");
                return false;
            }
        }

        $(document).ready(function() {
            $('.dropdown-toggle').dropdown()
        });
    </script>
{% endblock %}
{% block content %}
    <h3>class: {{  class.name }}</h3>
    <h3>teacher: <a href="{% url 'class_list_by_teacher' teacherId=class.teacherId %}">{{  class.teacher }}</a></h3>
    <h3>Strategies used by this class:</h3>


        <table style="border-spacing: 30px 0;">
            <tbody>
            {% for s in strategies %}
                <tr>
        {#            <td><a  href="{% url 'class_detail' pk=c.pk %}">{{s.name}}</a></td>#}
                    <td class="padded-td"><a href="{% url 'strategy_detail' pk=s.pk %}">{{s.name}}</a></td>
                    <td class="padded-td"><a href="{% url 'class-strategy' classId=class.pk strategyId=s.pk %}"><span class="glyphicon glyphicon-wrench"></span></a></td>
                    <td class="padded-td">
                        <a onclick="confirm('Are you sure you want to remove this strategy?')" href="{% url 'remove-class-strategy' classId=class.pk strategyId=s.pk%}">
                            <span class="glyphicon glyphicon-remove"></span>
                        </a>
                    </td>

    {#                <td><a href="{% url 'class_strat_detail' classId=class.id strategyId=s.pk %}">Customize</a></td>#}

                </tr>
            {% endfor %}

            </tbody>
        </table>


    <h3>Add a strategy </h3>
    <div class="container"></div>
        <div id="exTab3" class="container">
            <ul  class="nav nav-tabs">
                <li class="active">
                    <a  href="#1b" data-toggle="tab">Start from a Generic Strategy</a>
                </li>
                <li><a href="#2b" data-toggle="tab">Create a Custom Strategy</a>
                </li>

            </ul>

            <div class="tab-content">
                <div class="tab-pane active" id="1b">
                    <br>
                    <h4>Select a generic strategy from the list (you can customize it later):</h4>
                    <div id="strategy-pulldown"  class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            ----
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            {% for s in otherStrategies %}
                                <li><a href="{% url 'add-class-strategy' classId=class.id strategyId=s.id %}">{{ s.name }}</a></li>
                                {#                    <li><a href=href="/class/{{ class.id }}/strategy/{{ s.id }}/add">{{ s.name }}</a></li>#}
                            {% endfor %}

                        </ul>
                    </div>
                </div>
                <div class="tab-pane" id="2b">
                <br>
                    <h4>Name your strategy and select its components</h4>
                    <form name="customStrategyForm" method="post" onsubmit="return validCustomStrategy();" action="{% url 'add-class-custom-strategy'  classId=class.id %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="strategyName">Name</label>
                            <input id="strategyName" class="form-control" name="strategyName" type="text">
                        </div>
                        <div class="form-group">
                            <label for="lcId">Learning Companion</label>
                            <select id="lcId" name="lcId" class="form-control">
                                {% for lc in lcs %}
                                    <option value="{{ lc.id }}">{{ lc.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="loginSCId">Login Component</label>
                            <select id="loginSCId" name="loginSCId" class="form-control">
                                {% for sc in loginSCs %}
                                    <option value="{{ sc.id }}">{{ sc.name }}</option>
                                {% endfor %}

                            </select>
                        </div>
                        <div class="form-group">
                            <label for="lessonSCId">Lesson Component</label>
                            <select id="lessonSCId" name="lessonSCId" class="form-control">
                                {% for sc in lessonSCs %}
                                    <option value="{{ sc.id }}">{{ sc.name }}</option>
                                {% endfor %}

                            </select>
                        </div>
                        <div class="form-group">
                            <label for="tutorSCId">Tutor Component</label>
                            <select id="tutorSCId" name="tutorSCId" class="form-control">
                                {% for sc in tutorSCs %}
                                    <option value="{{ sc.id }}">{{ sc.name }}</option>
                                {% endfor %}

                            </select>
                        </div>
                        <div class="form-group">
                            <label for="strategyDescr">Description</label>
                            <textarea id="strategyDescr" name="strategyDescr" class="form-control" rows="4" cols="50"></textarea>
                        </div>

                        <br>
                        <button id="addCustomStrategy" class="btn btn-default">Add</button>

                    </form>
                </div>

            </div>
    </div>

{% endblock %}