{% extends 'msadmin/base.html' %}
{#  See tree demo at http://wwwendt.de/tech/fancytree/demo/#sample-ext-bootstrap.html #}
{% block content %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />

    <!-- 5 include the minified jstree source -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>
    <script>

        // When an intervention selector node is clicked, this will fill the body of the modal with some stuff
        function fillModalDialog (node) {
            $('#modalHeader').html('AAA')
            $('#modalBody').html('BBB')
        }


        function getMenuItemsForNode (node) {
            var type = $(node).attr("type");
            if (type == 'param') {
                return {
                    changeValue: {
                        label: "Change Setting",
                        action: function () {
                        }
                    },
                    turnon: {
                        label: "Turn On",
                        action: function () {

                        }
                    },
                    turnoff: {
                        label: "Turn Off",
                        action: function () {

                        }
                    }
                }
            }
            else if (type == 'selector') {
                return {
                    turnon: {
                        label: "Turn On",
                        action: function () {

                        }
                    },
                    turnoff: {
                        label: "Turn Off",
                        action: function () {

                        }
                    }
                }
            }
            else
                return {}
        }
        $(function () {
            // 6 create an instance when the DOM is ready
            $('#jstree').jstree({
                'plugins' : ['types', 'contextmenu', 'checkbox'],
                    "core": {
                        "themes": {"stripes": true},
                    },
                    // each node can handle a right-click to bring up a context menu.  The function
                    // returns an object which is the context menu depending on the node type
                    "contextmenu": {
                        items:  getMenuItemsForNode
                    },
                    "checkbox": {
                        // prevents checking boxes cascading up and down
                        three_state: false,
                        // prevents clicks outside the box from checking/unchecking
                        whole_node: false,
                        // need this for whole_node to work
                        tie_selection: false

                    },
                    // the different types of nodes.
                    "types": {
                        "#": {
                            "icon": "glyphicon glyphicon-flash",
                            "valid_children": ["default"]
                        },
                        "default" : {
                            "icon" : "glyphicon glyphicon-pushpin"
                        },
                        "component": {
                            "icon": "glyphicon glyphicon-bell",
                            "valid_children": ["selector-group"]
                        },
                        "selector-group": {
                            "icon": "glyphicon glyphicon-tasks",
                            "valid_children": ["selector"]
                        },
                        "selector": {
                            "icon": "glyphicon glyphicon-record",

                            "valid_children": ["param"]
                        },
                        "param": {
                            "icon": "glyphicon glyphicon-leaf",

                            "valid_children": []
                        },

                    }
                }

            );
            // 7 bind to events triggered on the tree
            $('#jstree').on("changed.jstree", function (e, data) {
                console.log(data);
                console.log(data.node);
                console.log(data.node.data);
                console.log(data.node.data.jstree);
                myid=data.node.data.ic.id;
                console.log("The id of the intsel clicked is " + myid)
                href = data.node.a_attr.href;
                fillModalDialog(data);
                document.href = href;

            });

            $('#jstree').on("check_node.jstree uncheck_node.jstree", function(e, data) {
                scId = data.node.data.ic.scid;
                isId = data.node.data.ic.id;
                console.log(data.node)
                checked = data.node.state.checked
                url = '/class/{{ class.id }}/sc/' + scId + '/is/' + isId + '/activate/' + checked
                console.log('AJAX POST to: ' + url);
                {#                alert(data.node.id + ' ' + data.node.text +#}
                {#                    (data.node.state.checked ? ' CHECKED': ' NOT CHECKED'));#}
                // TODO a checked Intervention selector means it is active; else inactive
                $.ajax(url, {
                    method: 'POST',
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    }
                })
                    .done(function (html) {
                        console.log(html);
                    });
            });

            // 8 interact with the tree - either way is OK
            $('button').on('click', function () {
                $('#jstree').jstree(true).select_node('child_node_1');
                $('#jstree').jstree('select_node', 'child_node_1');
                $.jstree.reference('#jstree').select_node('child_node_1');
            });
        });
    </script>

    <h3>Class: <a href="{% url 'class_detail' pk=class.id %}"> {{  class.name }}</a></h3>
    <h3>Strategy: {{  strategy.name }}</h3>
    <div id="jstree">



    <ul>
        <li data-jstree='{"type":"component", "checkbox_disabled":true}'>Login component: {{ loginSC.name }}
            <ul>
                <li data-jstree='{"type":"selector-group", "checkbox_disabled":true }'>Intervention Selectors:
                    <ul>
                    {% for intsel,  params in loginInfo %}
                        {#    Cannot figure out how to set initial checked state of checkboxes next to is nodes #}
                        <li data-ic= '{ "scid": {{ loginSC.id }}, "id": "{{ intsel.id }}" }' data-jstree='{"type":"selector"}'> <a data-toggle="modal" href="#myModal"> {{ intsel.name }}</a>
                            <ul>
                            {% for p in params %}
                                <li data-jstree='{"type":"param"}'><a href="http://davidmarshall.us">{{ p.id }}: {{ p.name }}={{ p.value }} active: {{ p.isActive }}</a></li>
                              {%  endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                    </ul>
                </li>
            </ul>
        </li>
        <li  data-jstree='{"type":"component", "checkbox_disabled":true}'>Lesson component: {{ lessonSC.name }}
            <ul>
                <li  data-jstree='{"type":"selector-group", "checkbox_disabled":true}'> Intervention Selectors:
                    <ul>
                    {% for intsel,params in lessonInfo %}
                        <li data-ic= '{ "scid": {{ lessonSC.id }}, "id": "{{ intsel.id }}" }'  data-jstree='{"type":"selector"}'>{{ intsel.name }}
                            <ul>
                            {% for p in params %}
                                  <li data-jstree='{"type":"param"}'>{{ p.id }}: {{ p.name }}={{ p.value }} active: {{ p.isActive }}</li>
                            {%  endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                    </ul>
                </li>
            </ul>
        </li>
        <li  data-jstree='{"type":"component", "checkbox_disabled":true}'>Tutor component: {{ tutorSC.name }}
            <ul>
                <li  data-jstree='{"type":"selector-group", "checkbox_disabled":true}'>Intervention Selectors:
                    <ul>
                        {% for intsel,params in tutorInfo %}
                            <li data-ic= '{ "scid": {{ tutorSC.id }}, "id": "{{ intsel.id }}" }' data-jstree='{"type":"selector"}'>{{ intsel.name }}

                                <ul>
                                    {% for p in params %}
                                        <li data-jstree='{"type":"param"}'>{{ p.id }}: {{ p.name }}={{ p.value }} active: {{ p.isActive }}</li>
                                    {%  endfor %}
                                </ul>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
    </div>


    <!-- Modal Dialog that will come up when click on Intervention Selector nodes-->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div id="dialogHeader" class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Modal Header</h4>
                </div>
                <div id="dialogBody" class="modal-body">
                    <p>Some text in the modal.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>


{% endblock %}