{% extends 'msadmin/base.html' %}
{% block content %}

{#    <nav class="navbar navbar-default">#}
{#        <div class="container-fluid">#}
{#            <ul class="nav navbar-nav">#}
{#                <li class="active"><a href="{% url 'validate_generic'%}">Validate Generic</a></li>#}
{#                <li class="active"><a href="{% url 'class_list'%}">Select Teacher/Class</a></li>#}
{#                <li class="active"><a href="{% url 'qauth_main'%}">Quick Auth</a></li>#}
{#            </ul>#}
{#            <ul class="nav navbar-nav navbar-right">#}
{#                <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>#}
{#                <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>#}
{#            </ul>#}
{#        </div>#}
{#    </nav>#}


{% endblock %}