{% extends 'msadmin/base_ajax.html' %}
{% load staticfiles %}

{% block page-css %}
    <style>

        .modal-header, h4, .close {
            background-color: #889400;
            color:black !important;
            text-align: center;
            font-size: 30px;
        }
        .modal-footer {
            background-color: #f9f9f9;
        }
        .bs-example{
            margin: 50px;
        }
        .bs-example a{
            font-size: 22px;
            text-decoration: none;
            margin: 0 10px;
        }
    </style>
{% endblock %}

{% block page-js %}


{#    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.1/react.js"></script>#}
{#    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.1/react-dom.js"></script>#}
    {#    <script src="https://cdnjs.cloudflare.com/ajax/libs/react-bootstrap/0.31.3/react-bootstrap.min.js"></script>#}
{#    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.0-alpha1/JSXTransformer.js"></script>#}
    <script type="text/javascript" src="{% static 'js/mycomponents.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/hints.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/media.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/answers.js' %}"></script>

    <script language="javascript">

        var theProblem = null; // a problem object obtained from AJAX call when page loads
        var theHint = null; // the hint currently being edited in a dialog box
        var answerType = "shortanswer"; // the currently selected answerType
        var choiceLabels = ["a", "b", "c", "d", "e"];
        var numChoices = 0; // keeps track of how many multi choice answers fields there are.
        var numAnswers = 0; // keeps track of how many short answer fields there are.

        var mediaURL = "{{ MEDIA_URL }}";

        // create constant URLs that will be used by supporting javascript files
        const SAVE_MEDIA_URL = "{% url 'qauth_save_problem_media' probId=12345 %}";
        const SAVE_HINTS_URL = "{% url 'qauth_save_hints' probId=12345 %}";
        const SAVE_HINT_URL = "{% url 'qauth_save_hint' probId=12345 %}";
        const GET_HINT_URL = "{% url 'qauth_get_hint' hintId=12345 %}";
        const DELETE_HINTS_URL = "{% url 'qauth_delete_hints' probId=12345 %}";



        function createPulldownOption (value, label, description) {
            return {label: label+(description ? ("  "+description) : ""), value: value};
        }



        ////////   Functions that operate on the problem /////////////

        function validateProblem () {
            // some multi-choice answer must be marked correct
            if (answerType == 'multichoice') {

                if (numChoices < 2) {
                    alert("A multi choice problem must have at least two answer choices!");
                    return false;
                }
                var numChecked = $('#multichoicetablebody tr td input[name="correctChoice"]:checked').length;
                if (numChecked != 1) {
                    alert("You must select a single multiple choice response to as the correct answer!");
                    return false;
                }
            }
            else {
                if (!hasShortAnswer()) {
                    alert("A short answer problem must have at least one answer!");
                    return false;
                }
            }
            if (false) {
                alert("Form is not valid");
                return false;
            }
            else return true;
        }



        // Callback function.  When this HTML file opens on an existing problem, an AJAX call is made to get the JSON
        // of the problem.  The JSON data is sent to this function to initialize internal state in the page's javascript
        function problemInit (data) {
            theProblem = data;
            answerType = theProblem.questType;
            validateHints();
            if (answerType == 'multichoice') {
                numChoices = theProblem.answers.length;
                numAnswers = 0;
            }
            else {
                numAnswers = theProblem.answers.length;
                numChoices = 0;
            }

            if (theProblem.isMultiChoice)
                exposeMultiChoiceControls();
            else
                exposeShortAnswerControls();
        }


        ///////////   The main function called at page load time /////////////////

        // loads the pulldowns with their options
        // The main function runs when the page is onReady
        $(function () {

            $('[data-toggle="tooltip"]').tooltip({
                placement : 'top'
            });
            // by default we expose the short answer controls.
            // This will be replaced by appropriate controls if we are loading an existing problem
            exposeShortAnswerControls()


            $('#addChoice').click(function (x) {
                addMultiChoiceRows(1);
            });


            $('#addAnswer').click(function (x) {
                addShortAnswerRows(1);
            });

            $('#hinttbody').sortable();
            $( ".dnd" ).droppable({
                drop: function( event, ui ) {

                }
            });
            $('.dnd').on('drop',function (event, ui) {

            });
            $( "#hinttbody" ).on( "sortstop", function( event, ui ) {
                validateHints();
                saveHintsToServer(); // save hints to server even if not valid because model has to be kept consistent
            } );


            $('#hintSave').click(function (x) {
                saveHint();
            })
            // rather than do a $('.delChoice').click() to handle clicks on the elements with delChoice class
            // we use this method of listening for click events on elements with this class.  This is necessary
            // because elements with the delChoice class are added dynamically and they won't be handled correctly
            // by the ordinary click handling and must be done this way.  See:
            // https://stackoverflow.com/questions/203198/event-binding-on-dynamically-created-elements
            $(document).on('click', '.delChoice', function(){
                deleteMultiChoiceRow($(this));
            });
            $(document).on('click', '.delShortAnswer', function(){
                deleteAnswerRow($(this));
            });

            $('#my-pulldown2').change(function (x) {
                var val = $('#questType').val();
                answerType = val;
                if (val == 'shortanswer') {
                    $('#shortAnswer').show();
                    $('#multichoices').hide();

                    if (numAnswers == 0)
                        addShortAnswerRows(1);
                }
                else {
                    $('#shortAnswer').hide();
                    $('#multichoices').show();
                    if (numChoices == 0)
                        addMultiChoiceRows(2);
                }
            });

{#            mountPulldownComponent('my-pulldown1',{label:"Read Aloud Audio", myId:"audioResource", myName:"audioResource", selectedOption:"{{ problem.getReadAloud }}",options:[{label: 'Has Audio', value:'hasAudio'}, {label: 'No Audio', value: 'noAudio'}]});#}

            {% if probId != -1 %}
                mountPulldownComponent('my-pulldown2',{label:"Answer Type", myId:"questType", myName:"questType", selectedOption:"{{ problem.questType }}", options:[{value:'multichoice',label:'Multiple Choice'}, {value:'shortanswer',label:'Short Answer'}]});
                mountPulldownComponent('my-pulldown3',{label:"Status", myId:"status", myName:"status", selectedOption:"{{ problem.getStatus3 }}", options:[{value:'ready',label:'Ready'}, {value:'testable',label:'Testable'}, {value:'dead',label:'Dead'}]});
            {% else %}
                mountPulldownComponent('my-pulldown2',{label:"Answer Type", myId:"questType", myName:"questType", selectedOption:"shortanswer", options:[{value:'multichoice',label:'Multiple Choice'}, {value:'shortanswer',label:'Short Answer'}]});
                mountPulldownComponent('my-pulldown3',{label:"Status", myId:"status", myName:"status", selectedOption:"testable", options:[{value:'ready',label:'Ready'}, {value:'testable',label:'Testable'}, {value:'dead',label:'Dead'}]});
            {% endif %}
            var url_mask;
            url_mask = "{% url 'qauth_get_problem' probId=12345 %}";
{#            if the probId is valid, make an ajax call to get the problem JSON #}
            {% if probId != -1 %}
                url_mask = url_mask.replace("12345", "{{ probId }}");
            $.ajax({
                url: url_mask,
                type: "GET",
                error: function (a,b,c) {
                    alert("Failed to get problem " + a.responseText + b);
                },
                success: function (data) {
                    problemInit(data);

                }
            });
            {% endif %}
            url_mask = "{% url 'qauth_layouts' %}";
            $.ajax({
                url: url_mask,
                type: "GET",
                error: function (a,b,c) {
                    alert("Failed to get layouts " + a.responseText + b);
                },
                success: function (data) {
                    var layoutOpts = data;
                    var opts = layoutOpts.map(function (o) { return createPulldownOption(o.id,o.name, o.description)})
                    mountPulldownComponent('my-pulldown4',{label:"Layout", myId:"layout", myName:"layout", selectedOption:"{{ problem.getLayoutId }}", options: opts});

                }
            });


        });


    </script>
{% endblock %}


{% block content %}
    {% if probId == -1 %}
    <h3>Create a new math problem</h3>
    {% else %}
    <h3>Edit a math problem</h3>
    {% endif %}

    <form method="post" enctype="multipart/form-data" onsubmit="return validateProblem();" action="{% url 'qauth_save_prob' %}">
        {% csrf_token %}

        <div class="form-group">

        <div class="input-group">
            <span class="input-group-addon">ID</span>
            {% if probId == -1 %}
                <input id="id" type="text" class="form-control" name="id" readonly placeholder="--">
            {% else %}
                <input id="id" type="text" class="form-control" name="id" readonly value = "{{ problem.id }}" placeholder="--">
            {% endif %}

        </div>
        <br>
        <div class="input-group">
            <span class="input-group-addon">Name</span>
            {% if probId == -1 %}
                <input id="name" type="text" class="form-control" name="name" placeholder="Problem Name">
            {% else %}
                <input id="name" type="text" class="form-control" name="name" value = "{{ problem.name }}" placeholder="Problem Name">
            {% endif %}

        </div>
        <br>
        <div class="input-group">
            <span class="input-group-addon">Nick Name</span>
            {% if probId == -1 %}
                <input id="nickname" type="text" class="form-control" name="nickname" placeholder="Nick Name">
            {% else %}
                <input id="nickname" type="text" class="form-control" name="nickname" value = "{{ problem.nickname }}" placeholder="Nick Name">
            {% endif %}

        </div>
        <br>

        <div class="input-group">
            <span class="input-group-addon">Statement</span>
            {% if probId == -1 %}
                <textarea rows="8" cols="80" name="statementHTML" class="form-control" id="statementHTML"></textarea>
            {% else %}
                <textarea rows="8" cols="80" name="statementHTML" class="form-control" id="statementHTML">{{ problem.statementHTML }}</textarea>
            {% endif %}

        </div>
        <br>
        <div class="form-inline">
            <div class="input-group">
                <span class="input-group-addon">Audio File</span>
                {% if probId == -1 %}
                    <input id="audioResource" type="text" class="form-control" readonly name="audioResource" placeholder="">
                {% else %}
                    <input id="audioResource" type="text" class="form-control" readonly name="audioResource" value = "{{ problem.audioResource }}">
                {% endif %}

            </div>
            <input class="form-control mb-2 mr-sm-2 mb-sm-0" name="audioFile" type="file">
            <a href="#"><span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-original-title="A sound file that plays when the hint is shown"></span></a>
            {% if problem.audioResource %}
                <audio controls>
                    <source src="{{ mediaURL }}{{ problem.getProblemDir }}/{{ problem.audioResource }}.mp3" type="audio/mpeg">
                    Your browser does not support the audio tag.
                </audio>
            {% endif %}
        </div>

        <br>

        <div class="form-inline">
            <div class="input-group">
                <span class="input-group-addon">Image URL</span>
                {% if probId == -1 %}
                    <input id="imageURL" type="text" class="form-control" name="imageURL" placeholder="">
                {% else %}
                    <input id="imageURL" type="text" class="form-control" name="imageURL" value = "{{ problem.imageURL }}">
                {% endif %}

            </div>
            <input class="form-control mb-2 mr-sm-2 mb-sm-0" name="imageFile" type="file">
            <a href="#"><span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-original-title="Either a URL to an image or else the name of the file you upload which can be referenced as {[myfile.jpg]}"></span></a>
            {% if problem.imageURL %}
                <img onmouseover="this.removeAttribute('width'); this.removeAttribute('height');" onmouseout="this.width='50'; this.height='50';" width="50" height="50" src="{{ MEDIA_URL }}{{ problem.getProblemDir }}{{ problem.getImageURL }}">
            {% endif %}
        </div>
        <br>

        <div class="form-inline">
            {% if probId == -1 %}
                <div id="my-pulldown2" class="input-group mb-2 mr-sm-2 mb-sm-0" label="Answer Type" myId="questType" myName="questType" selectedOption="shortanswer"></div>
            {%  else %}
                <div id="my-pulldown2" class="input-group mb-2 mr-sm-2 mb-sm-0" label="Answer Type" myId="questType" myName="questType" selectedOption="{{ problem.questType }}"></div>
            {% endif %}



        </div>
        <br>
        <div id="shortAnswer" class="input-group mb-2 mr-sm-2 mb-sm-0" >
            <a id="addAnswer" href="#shortAnswer"><span class="glyphicon glyphicon-plus" data-toggle="tooltip" data-original-title="Add a short answer"></span></a>
            <table id="shortanswertable" class="table table-bordered">
                <thead><tr><th style="width: 60px">Delete</th>
                    <th>Value <a href="#shortAnswer"><span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-original-title="Each row should have a possible correct answer (e.g. 4, 4.0, 8/2)"></span></a>
                    </th></tr></thead>
                <tbody id="shortanswertablebody">
                {% if probId != -1 and problem.isShortAnswer %}

                    {% for c in problem.getAnswers %}

                        <tr><td class="deleteButton">
                            <a class="delShortAnswer" href="#shortanswertable">
                                <span class="glyphicon glyphicon-remove" data-toggle="tooltip" data-original-title="Delete this answer"></span>
                            </a>
                        </td>
                            <td>
                                <div class="row">
                                    <div class="form-group col-lg-12">
                                        <input id="answer-{{ forloop.counter0 }}" name="shortanswer[]" type="text" class="form-control" value="{{ c.val }}"/>
                                    </div>
                                </div>
                            </td></tr>
                    {% endfor %}
                {% elif probId == -1  %}
                    <tr><td class="deleteButton">
                        <a class="delShortAnswer" href="#shortanswertable">
                            <span class="glyphicon glyphicon-remove" data-toggle="tooltip" data-original-title="Delete this answer"></span>
                        </a>
                    </td>
                        <td>
                            <div class="row">
                                <div class="form-group col-lg-12">
                                    <input id="answer-0" name="shortanswer[]" type="text" class="form-control" value=""/>
                                </div>
                            </div>
                        </td></tr>
                {% endif %}

                </tbody>
            </table>


        </div>

        <div id="multichoices">
            <a id="addChoice" href="#multichoices"><span class="glyphicon glyphicon-plus" data-toggle="tooltip" data-original-title="Add a choice answer"></span></a>
            <table id="multichoicetable" class="table table-bordered">
                <thead><tr><th style="width: 60px">Delete</th><th style="width: 60px">Choice</th><th style="width: 60px">Correct</th>
                    <th>Value <a href="#multichoices"><span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-original-title="Value or image URL like {[myimage.jpg]}"></span></a>
                    </th></tr></thead>
                <tbody id="multichoicetablebody">
                    {% if probId != -1 and problem.isMultiChoice %}

                        {% for c in problem.getAnswers %}

                            <tr>
{#                                <td><input name="deleteChoice" type="checkbox"></td>#}
                                <td class="deleteButton">
                                    <a class="delChoice" href="#multichoices">
                                    <span class="glyphicon glyphicon-remove" data-toggle="tooltip" data-original-title="Delete this choice"></span>
                                    </a>
                                </td>
                                <td class="choiceLabel">{{ c.choiceLetter }}</td>
                                <td class="choiceCorrect">
                                    <input class="correctRadio" type="radio" name="correctChoice" {% if c.choiceLetter == problem.answer %} checked {% endif %} value="{{ c.choiceLetter }}">
                               </td>
                                <td>
                                    <div class="row">
                                       <div class="form-group col-lg-12">
                                           <input id="choice-{{ forloop.counter0 }}" name="multichoice[]" type="text" class="form-control" value="{{ c.val }}"/>
                                       </div>
                                    </div>
                                </td></tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>

        <br>


        <div id="my-pulldown3" label="Status" myId="status" myName="status" selectedOption="{{ problem.getStatus3 }}"></div>

        <br/>

        <div id="my-pulldown4"></div>

        <br/>

        <div class="form-inline">
            <div class="input-group">
                <span class="input-group-addon">Standard ID</span>
                {% if probId == -1 %}
                    <input id="standardId" type="text" class="form-control" name="standardId" placeholder="">
                {% else %}
                    <input id="standardId" type="text" class="form-control" name="standardId" value = "{{ problem.standardId }}">
                {% endif %}

            </div>


            <div class="input-group">
                <span class="input-group-addon">Cluster ID</span>
                {% if probId == -1 %}
                    <input id="clusterId" type="text" class="form-control" name="clusterId" placeholder="">
                {% else %}
                    <input id="clusterId" type="text" class="form-control" name="clusterId" value = "{{ problem.clusterId }}">
                {% endif %}

            </div>
        </div>
        <br>


        <button id="saveButton" class="btn btn-primary">Save</button>
        <button id="previewButton" class="btn btn-primary">Preview</button>
        </div>

    </form>

    {% if probId != -1 %}
    <h3>Hints</h3>
{#        <div class="input-group">#}
        <a id="addHint" onclick="addHint()" href="#hintTable"><span class="glyphicon glyphicon-plus" data-toggle="tooltip" data-original-title="Add a hint"></span></a>
        &nbsp; &nbsp;
        &nbsp; &nbsp;
        <a id="delHint" onclick="deleteSelectedHints({{ problem.id }})" href="#hintTable"><span class="glyphicon glyphicon-minus" data-toggle="tooltip" data-original-title="Delete selected hints"></span></a>
        &nbsp; &nbsp;
        Drag and Drop rows to reorder hints

{#        <button type="submit" class="btn btn-link" onclick="addHint()">#}
{#            <span class="glyphicon glyphicon-plus"></span>#}
{#        </button>#}
{#        <button type="submit" class="btn btn-link" onclick="deleteSelectedHints({{ problem.id }})">#}
{#            <span class="glyphicon glyphicon-minus"></span>#}
{#        </button>#}
{#        <span class="input-group-addon">Action</span>#}
{#        <select class="form-control" style="width:auto;"><option>Add</option><option>Delete Selected</option></select>#}
{#        </div>#}
        <table id="hintTable" class="table table-bordered pagin-table">
        <thead>
            <tr><td style="width: 30px">Delete</td><th style="width: 60px">Edit</th><th style="width: 30px">ID</th><th style="width: 30px">answer</th><th >statement</th></tr>
        </thead>
        <tbody id="hinttbody">
{#        put the hint id in the tr as the id so that when delete is executed we can easily find the selected hints #}
        {% for h in hints %}

            <tr id="{{ h.id }}" class="dnd">
                <td>
                    <input type="checkbox"></td>
                <td class="edit-hint"><a href="#hinttbody" class="hint-edit-icon" onClick="editHint2({{ h.id }})"><span class="glyphicon glyphicon-pencil" data-toggle="tooltip" data-original-title="Edit this hint"></span></a></td>
                <td class="hint-id">{{ h.id }}</td>

                <td class="givesAnswer">{% if h.givesAnswer %}<span class="glyphicon glyphicon-ok"></span>{% endif %}</td>

{#                <td class="name"><a href="#" class="hint-name-label" onClick='editHint2({{ h.id }})'>{{ h.name }}</a></td>#}
                <td class="statement"> {{ h.statementHTML }}</td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
        <a id="testButton" onclick="validateHints()" href="#hintTable"><span class="glyphicon glyphicon-scale" data-toggle="tooltip" data-original-title="Add alert"></span></a>
        <a id="testButton2" onclick="setHintAlert (2, 'hi')" href="#hintTable"><span class="glyphicon glyphicon-scale" data-toggle="tooltip" data-original-title="Remove alert"></span></a>
        <p style="color: red" id="hintErrorMessages"></p>
    {% endif %}


    {% if probId != -1 %}
        <p>
            <a data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                <h3>Media Files</h3>
            </a>
        </p>
        <div class="collapse" id="collapseExample">
            <div class="card card-body" >
                <p class="card-text">These files are usable within the problem statement and hint statements.  They can be included in a statement by copy/pasting from the Ref file name (e.g. {[myfile.jpg]} )</p>
        <form id="mediaFilesForm" method="post" enctype="multipart/form-data" onsubmit="return validateProblem();" action="{% url 'qauth_save_problem_media' probId=problem.id %}">
        {#        <div class="input-group">#}
        {% csrf_token %}


            <a id="addMedia" onclick="addMediaRow()" href="#mediaTable"><span class="glyphicon glyphicon-plus" data-toggle="tooltip" data-original-title="Add a media file"></span></a>


            <table id="mediaTable" class="table table-bordered">
            <thead>
            <tr><td style="width: 60px">Delete</td><th style="width: 60px">ID</th><th style="width: 60px">Ref file name</th><td>Upload</td></tr>
            </thead>
            <tbody id="mediatbody">
            {#        put the hint id in the tr as the id so that when delete is executed we can easily find the selected hints #}
            {% for f in problem.getMediaFiles %}
                <tr id="{{ f.id }}"><td><input type="checkbox"></td><td>{{ f.id }}</td><td>{[{{ f.filename }}]}</td>
                <td></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
{#        save will submit the form, deleting will ajax the ids to server but will keep the page where it is#}
{#        <button  class="btn btn-primary" onClick="$('mediaFilesForm').submit();">Save Changes to Media Files</button>#}
        <a href="#mediaTable" class="btn btn-primary" onClick="saveMediaFiles()">Save Changes to Media Files</a>
        </form>
        </div>
        </div>
    {% endif %}

{#    Don't want a hint dialog if this is a new problem.   Wait until it has an id.#}
    {% if probId != -1 %}
    <!-- Modal Dialog that will come up when hint name is clicked-->
    <div class="modal fade" id="hintDialog" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div id="dialogHeader" class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 id="param-dialog-title" class="modal-title">Edit Hint</h4>
                </div>
                <div class="modal-body" style="padding:40px 50px;">
                    <form id='hintForm' role="form" method="post" enctype="multipart/form-data" onsubmit="return validateHint();" action="{% url 'qauth_save_hint' probId=probId %}">

                        {% csrf_token %}
                        <div class="form-group">
                            <label for="hid">ID</label>
                            <input type="text" name="id" class="form-control" id="hid" readonly>
                        </div>
{#                        <div class="form-group">#}
{#                            <label for="hname">Name</label>#}
{#                            <input type="text"  class="form-control" id="hname" name="name" readonly>#}
{#                        </div>#}
{#                        <div class="form-group">#}
{#                            <label for="order">Order</label>#}
{#                            <input type="text" class="form-control" id="order" name="order" readonly>#}
{#                        </div>#}
                        <div class="form-group">
                            <label for="hstatement">Statement</label>
                            <textarea id="hstatement" name="statementHTML" class="form-control" rows="6" cols="50"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="hoverText">Hover Text</label>
                            <input type="text" name="hoverText" class="form-control" id="hoverText">
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" name="givesAnswer" value="" id="givesAnswer" checked>Gives Answer</label>
                        </div>

                        <div class="form-group">
                            <label for="haudioResource">Audio Resource</label>
                            <div class="form-inline">

                                <input type="text" name="audioResource" class="form-control" readonly id="haudioResource">
                                <input id="haudioFile" class="form-control mb-2 mr-sm-2 mb-sm-0"  name="audioFile" type="file">
                                <div id="hintAudio">
                                    <audio id="haudioPlayer" controls>
                                        <source id="hintAudioMP3" src="" type="audio/mpeg">
                                        Your browser does not support the audio tag.
                                    </audio>
                                </div>
                            </div>
                        </div>


                        <div class="form-group">
                            <label for="himageURL">Image</label>
                            <a href="#"><span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-original-title="An image file that goes with this hint.  Refer to it in hint's statement as {[file.jpg]} to embed in the hint statement or as {[file.jpg overlay]} to replace the problem figure"></span></a>
                            <div class="form-inline">

                                <input type="text" name="imageURL" class="form-control" readonly id="himageURL">
                                <input id="himageFile" class="form-control mb-2 mr-sm-2 mb-sm-0" name="imageFile" type="file">

                                <div id="himageDiv">
                                    <img id="himage" onmouseover="this.removeAttribute('width'); this.removeAttribute('height');" onmouseout="this.width='50'; this.height='50';" width="50" height="50" src="">
                                </div>

                            </div>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
{#                    <button onClick="saveHint({{ problem.id }});" class="btn btn-success"><span class="glyphicon glyphicon-save"></span>Save</button>#}
{#                    <button id="hintSave" onClick="$('#hintForm').submit();" class="btn btn-success"><span class="glyphicon glyphicon-save"></span>Save</button>#}
                    <button id="hintSave" class="btn btn-success"><span class="glyphicon glyphicon-save"></span>Save</button>
                    <button type="button" class="btn btn-danger btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>

        </div>
    </div>
    {% endif %}

{% endblock %}