{% extends 'msadmin/base_ajax.html' %}
{% load staticfiles %}

{% block page-css %}
    <style>

        .modal-header, h4, .close {
            background-color: #889400;
            color:black !important;
            text-align: center;
            font-size: 30px;
        }
        .modal-footer {
            background-color: #f9f9f9;
        }
    </style>
{% endblock %}

{% block page-js %}


{#    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.1/react.js"></script>#}
{#    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.1/react-dom.js"></script>#}
    {#    <script src="https://cdnjs.cloudflare.com/ajax/libs/react-bootstrap/0.31.3/react-bootstrap.min.js"></script>#}
{#    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.0-alpha1/JSXTransformer.js"></script>#}
    <script type="text/javascript" src="{% static 'js/mycomponents.js' %}"></script>

    <script language="javascript">

        function validateProblem () {
            if (false) {
                alert("Form is not valid");
                return false;
            }
            else return true;
        }

        // Called when the user clicks the hyperlink of a hint.
        // Will get the hint JSON from the server and will pop up the dialog to edit it.
        function editHint2 (id) {
            var url_mask = "{% url 'qauth_get_hint' hintId=12345 %}".replace(/12345/, id.toString());
            $.get(url_mask, function(data) {
                console.log("Got hint json detail");
                console.log(data);
                $('#hid').val(id);
                $('#hname').val(data.name);
                $('#haudioResource').val(data.audioResource);
                $('#hstatement').val(data.statementHTML);
                $('#order').val(data.order);
                $('#hoverText').val(data.hoverText);
                $('#givesAnswer').prop('checked',data.givesAnswer);
                showHintDialog();

            });
        }

        // Called when the user clicks the + hint button to add a new hint.
        // Clears the dialog fields and pops it up.
        function addHint () {
            $('#hid').val('');
            $('#hname').val('');
            $('#haudioResource').val('');
            $('#hstatement').val('');
            $('#order').val('');
            $('#hoverText').val('');
            $('#givesAnswer').prop('checked',false);
            showHintDialog();
        }

        // When dialog save button is clicked, save the hint.
        // Closes the dialog after the save POST has been sent to the server
        function saveHint (probId) {
            var id = $('#hid').val();
            var name = $('#hname').val();
            var statement = $('#hstatement').val();
            var order = $('#order').val();
            var givesAnswer = $('#givesAnswer').prop("checked");
            var hoverText = $('#hoverText').val();
            var url_mask = "{% url 'qauth_save_hint' probId=12345 %}".replace(/12345/, probId.toString());
            var audioResource = $('#haudioResource').val();
            $.ajax({
                url: url_mask,
                type: "POST",
                data: {id: id, name: name, statementHTML: statement, audioResource:audioResource, order: order, hoverText: hoverText, givesAnswer: givesAnswer },
                error: function (a,b,c) {
                    console.log("Failed to write to server! " + a.responseText + b);
                    console.log(a);
                    alert("Failed to write to server! " + a.responseText + b);
                },
                success: function (data) {
                    console.log("JSON returned by POST");
                    console.log(data);
                    location.href = "{% url 'qauth_edit_prob' probId=12345 %}".replace(/12345/, probId.toString());
                }
            });
            $('#hintDialog').modal('toggle');


        }

        function deleteSelectedHints (probId) {
            if (confirm("Are you sure you want to delete the selected hints?")) {
                var ids = [];

                $('#hintTable').find('tr').each(function () {
                    var row = $(this);
                    if (row.find('input[type="checkbox"]').is(':checked') ) {
                        var rid = row.attr('id');
                        ids.push(rid);
                    }
                });


                var url_mask = "{% url 'qauth_delete_hints' probId=12345 %}".replace(/12345/, probId.toString());
                $.ajax({
                    url: url_mask,
                    type: "POST",
                    data: {data: ids },
                    error: function (a,b,c) {
                        console.log("Failed to delete hints! " + a.responseText + b);
                        console.log(a);
                        alert("Failed to delete hints " + a.responseText + b);
                    },
                    success: function (data) {
                        location.href = "{% url 'qauth_edit_prob' probId=12345 %}".replace(/12345/, probId.toString());
                    }
                });
            }
        }

        // opens the hint dialog
        function showHintDialog () {
            $('#hintDialog').modal('show');
        }

        function createPulldownOption (value, label, description) {
            return {label: label+(description ? ("  "+description) : ""), value: value};
        }

        // loads the pulldowns with their options
        $(function () {
{#            test('hi there');#}


            mountPulldownComponent('my-pulldown1',{label:"Read Aloud Audio", myId:"audioResource", myName:"audioResource", selectedOption:"{{ problem.getReadAloud }}",options:[{label: 'Has Audio', value:'hasAudio'}, {label: 'No Audio', value: 'noAudio'}]});
            mountPulldownComponent('my-pulldown2',{label:"Answer Type", myId:"questType", myName:"questType", selectedOption:"{{ problem.questType }}", options:[{value:'multichoice',label:'Multiple Choice'}, {value:'shortanswer',label:'Short Answer'}]});
            mountPulldownComponent('my-pulldown3',{label:"Status", myId:"status", myName:"status", selectedOption:"{{ problem.getStatus3 }}", options:[{value:'ready',label:'Ready'}, {value:'testable',label:'Testable'}, {value:'dead',label:'Dead'}]});
            var url_mask = "{% url 'qauth_layouts' %}";
            $.ajax({
                url: url_mask,
                type: "GET",
                error: function (a,b,c) {
                    alert("Failed to get layouts " + a.responseText + b);
                },
                success: function (data) {
                    var layoutOpts = data;
                    var opts = layoutOpts.map(function (o) { return createPulldownOption(o.id,o.name, o.description)})
                    console.log("options list");
                    console.log(opts);
                    mountPulldownComponent('my-pulldown4',{label:"Layout", myId:"layout", myName:"layout", selectedOption:"{{ problem.getLayoutId }}", options: opts});

                }
            });


        });


    </script>
{% endblock %}


{% block content %}
    {% if probId == -1 %}
    <h3>Create a new math problem</h3>
    {% else %}
    <h3>Edit a math problem</h3>
    {% endif %}

    <form method="post" enctype="multipart/form-data" onsubmit="return validateProblem();" action="{% url 'qauth_save_prob' %}">
        {% csrf_token %}

        <div class="form-group">

        <div class="input-group">
            <span class="input-group-addon">ID</span>
            {% if probId == -1 %}
                <input id="id" type="text" class="form-control" name="id" readonly placeholder="--">
            {% else %}
                <input id="id" type="text" class="form-control" name="id" readonly value = "{{ problem.id }}" placeholder="--">
            {% endif %}

        </div>
        <br>
        <div class="input-group">
            <span class="input-group-addon">Name</span>
            {% if probId == -1 %}
                <input id="name" type="text" class="form-control" name="name" placeholder="Problem Name">
            {% else %}
                <input id="name" type="text" class="form-control" name="name" value = "{{ problem.name }}" placeholder="Problem Name">
            {% endif %}

        </div>
        <br>
        <div class="input-group">
            <span class="input-group-addon">Nick Name</span>
            {% if probId == -1 %}
                <input id="nickname" type="text" class="form-control" name="nickname" placeholder="Nick Name">
            {% else %}
                <input id="nickname" type="text" class="form-control" name="nickname" value = "{{ problem.nickname }}" placeholder="Nick Name">
            {% endif %}

        </div>
        <br>

        <div class="input-group">
            <span class="input-group-addon">Statement</span>
            {% if probId == -1 %}
                <textarea rows="8" cols="80" name="statementHTML" class="form-control" id="statementHTML"></textarea>
            {% else %}
                <textarea rows="8" cols="80" name="statementHTML" class="form-control" id="statementHTML">{{ problem.statementHTML }}</textarea>
            {% endif %}

        </div>
        <br>
        <div class="form-inline">
            <div class="input-group mb-2 mr-sm-2 mb-sm-0" id="my-pulldown1" label="Read Aloud Audio" myId="audioResource" myName="audioResource" selectedOption="{{ problem.getReadAloud }}"></div>

            <input class="form-control mb-2 mr-sm-2 mb-sm-0" name="audioFile" type="file">

        </div>
        <br>

        <div class="form-inline">
            <div class="input-group">
                <span class="input-group-addon">Image URL</span>
                {% if probId == -1 %}
                    <input id="imageURL" type="text" class="form-control" name="imageURL" placeholder="">
                {% else %}
                    <input id="imageURL" type="text" class="form-control" name="imageURL" value = "{{ problem.imageURL }}">
                {% endif %}

            </div>
            <input class="form-control mb-2 mr-sm-2 mb-sm-0" name="imageFile" type="file">
        </div>
        <br>
            <div class="form-inline">
        <div class="input-group mb-2 mr-sm-2 mb-sm-0" id="my-pulldown2" label="Answer Type" myId="questType" myName="questType" selectedOption="{{ problem.questType }}"></div>


        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <span class="input-group-addon">Answer</span>
            {% if probId == -1 %}
                <input id="answer" type="text" class="form-control" name="answer" placeholder="">
            {% else %}
                <input id="answer" type="text" class="form-control" name="answer" value = "{{ problem.answer }}">
            {% endif %}

        </div>
            </div>
        <br>


        <div id="my-pulldown3" label="Status" myId="status" myName="status" selectedOption="{{ problem.getStatus3 }}"></div>

        <br/>

        <div id="my-pulldown4"></div>

        <br/>

        <div class="form-inline">
            <div class="input-group">
                <span class="input-group-addon">Standard ID</span>
                {% if probId == -1 %}
                    <input id="standardId" type="text" class="form-control" name="standardId" placeholder="">
                {% else %}
                    <input id="standardId" type="text" class="form-control" name="standardId" value = "{{ problem.standardId }}">
                {% endif %}

            </div>


            <div class="input-group">
                <span class="input-group-addon">Cluster ID</span>
                {% if probId == -1 %}
                    <input id="clusterId" type="text" class="form-control" name="clusterId" placeholder="">
                {% else %}
                    <input id="clusterId" type="text" class="form-control" name="clusterId" value = "{{ problem.clusterId }}">
                {% endif %}

            </div>
        </div>
        <br>


        <button id="saveButton" class="btn btn-primary">Save</button>
        </div>

    </form>

    {% if hints %}
    <h3>Hints</h3>
{#        <div class="input-group">#}
        <button type="submit" class="btn btn-link" onclick="addHint()">
            <span class="glyphicon glyphicon-plus"></span>
        </button>
        <button type="submit" class="btn btn-link" onclick="deleteSelectedHints({{ problem.id }})">
            <span class="glyphicon glyphicon-minus"></span>
        </button>
{#        <span class="input-group-addon">Action</span>#}
{#        <select class="form-control" style="width:auto;"><option>Add</option><option>Delete Selected</option></select>#}
{#        </div>#}
        <table id="hintTable" class="table table-bordered">
        <thead>
            <tr><td style="width: 60px"></td><th style="width: 60px">ID</th><th style="width: 60px">name</th><th style="width: 200px">statement</th></tr>
        </thead>
        <tbody id="hinttbody">
{#        put the hint id in the tr as the id so that when delete is executed we can easily find the selected hints #}
        {% for h in hints %}
            <tr id="{{ h.id }}"><td><input type="checkbox"></td><td>{{ h.id }}</td><td><a href="#" onClick='editHint2({{ h.id }})'>{{ h.name }}</a></td><td> {{ h.statementHTML }}</td></tr>
        {% endfor %}
        </tbody>
        </table>
    {% endif %}




    <!-- Modal Dialog that will come up when hint name is clicked-->
    <div class="modal fade" id="hintDialog" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div id="dialogHeader" class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 id="param-dialog-title" class="modal-title">Edit Hint</h4>
                </div>
                <div class="modal-body" style="padding:40px 50px;">
                    <form role="form">
                        <div class="form-group">
                            <label for="hid">ID</label>
                            <input type="text" class="form-control" id="hid" readonly>
                        </div>
                        <div class="form-group">
                            <label for="hname">Name</label>
                            <input type="text" class="form-control" id="hname">
                        </div>
                        <div class="form-group">
                            <label for="order">Order</label>
                            <input type="text" class="form-control" id="order" readonly>
                        </div>
                        <div class="form-group">
                            <label for="hstatement">Statement</label>
                            <textarea id="hstatement" class="form-control" rows="6" cols="50"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="hoverText">Hover Text</label>
                            <input type="text" class="form-control" id="hoverText">
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" value="" id="givesAnswer" checked>Gives Answer</label>
                        </div>
                        <div class="form-group">
                            <label for="haudioResource">Audio Resource</label>
                            <input type="text" class="form-control" id="haudioResource">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button onClick="saveHint({{ problem.id }});" class="btn btn-success"><span class="glyphicon glyphicon-save"></span>Save</button>
                    <button type="button" class="btn btn-danger btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>

        </div>
    </div>


{% endblock %}