{% extends 'msadmin/base_ajax.html' %}
{% load staticfiles %}

{% block content %}

<!-- See for doc on view helpers https://github.com/tanema/express-helpers/wiki
 The path to get to this page is http ... questions/preview?qid...  or http... tests/preview?tid&qid
 -->

{#<a href="<%= pageContext %>/questions/<%= qid %>">Edit This Question</a>#}
<a href="{% url 'ta_questions_gp_page' qobj.id %}">Edit This Question</a>
{% if tid %}
<a href="{% url 'ta_tests_gp_page' testId=tid %}">Edit This Test</a>
{% endif %}

<br>
{% if qobj.imageFilename %}
    <img src="{{ MEDIA_URL }}{{ SURVEYS_DIR }}{{ qobj.getDir }}/{{ qobj.imageFilename }}">
{% endif %}

<br>
{# the safe switch below turns off Django's automatic escaping of HTML tags #}
{{ qobj.description|safe }}
<br>  <br>
{% if qobj.isShortAnswer %}
<input type="text" name="answer">
{% elif qobj.isLongAnswer %}
    <textarea name="answer"></textarea>
{% else %}
<table>
    <tr><td> <input type="radio" name="multiChoiceCorrectAnswer" value="a"> </td> <td> {{ qobj.aChoice|safe }}  </td></tr>
    {% if qobj.bChoice %}
    <tr><td> <input type="radio" name="multiChoiceCorrectAnswer" value="b">  </td> <td> {{ qobj.bChoice|safe }}  </td></tr>
    {% endif %}
    {% if qobj.cChoice != None %}
        <tr><td> <input type="radio" name="multiChoiceCorrectAnswer" value="c">  </td> <td> {{ qobj.cChoice|safe }}  </td></tr>
    {% endif %}
    {% if qobj.dChoice != None %}
        <tr><td> <input type="radio" name="multiChoiceCorrectAnswer" value="d">  </td> <td> {{ qobj.dChoice|safe }}  </td></tr>
    {% endif %}
    {% if qobj.eChoice != None %}
        <tr><td> <input type="radio" name="multiChoiceCorrectAnswer" value="e">  </td> <td> {{ qobj.eChoice|safe }}  </td></tr>
    {% endif %}

</table>
{% endif %}
<br>
{% if tid and qid %}
<a href="{% url 'ta_tests_question_preview_page' testId=tid qId=qid %}">Next Question</a>
{% endif %}


{% endblock %}
