{% extends 'msadmin/base_ajax.html' %}
{% load staticfiles %}

{% block page-css %}
    <style>

        .modal-header, h4, .close {
            background-color: #889400;
            color:black !important;
            text-align: center;
            font-size: 30px;
        }
        .modal-footer {
            background-color: #f9f9f9;
        }
        .bs-example{
            margin: 50px;
        }
        .bs-example a{
            font-size: 22px;
            text-decoration: none;
            margin: 0 10px;
        }
    </style>
{% endblock %}

{% block page-js %}
    <script type="application/javascript">


        function addTest() {
            document.location.href = "{% url 'ta_tests_new_page' %}";
        }

{#        function doSave () {#}
{#            document.getElementById("myform").submit();#}
{#        }#}

        $(document).ready(function () {
            $("#addTestButton").click(addTest);
{#            $("#saveButton").click(doSave);#}
        });

    </script>
{% endblock %}

{% block content %}
<a href="{% url 'ta_questions_all_page' %}">View All Questions</a>
<br><br>
Here are the Pre/Post tests

<form id="myform" action="{% url 'ta_tests_remove_page' %}" method="post">
    {% csrf_token %}
    <table>
        <tr><td>Del</td> <td></td ><td><a id="addTestButton" class='btn btn-delete btn-primary btn-xs'>Add Test</a></td> <td></td></tr>
        {% for test in tests %}
        <tr>
            <td> <input type="checkbox" name="removeTest[]" value="{{ test.id }}"></td>
            <td> &nbsp;<a href="{% url 'ta_tests_gp_page' testId=test.id %}">{{ test.id }} </a>  </td>
            <td> &nbsp;<a href="{% url 'ta_tests_gp_page' testId=test.id %}">{{ test.name }} </a>  </td>
            <td>{% if not test.isActive %}
                inactive
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
    <button id="saveButton" class='btn btn-delete btn-primary btn-xs'>Save</button>
</form>


{% endblock %}
