{% extends 'msadmin/base_ajax.html' %}
{% block page-js %}
    <script>

        var stratId = 0;

        function deleteGenericStrategy (input) {
            var name = input.name;
            var val = input.value;
            // Deleting a generic strategy is a risky operation because an actual strategy may be built from it and there is
            // a fk connection from the is_param_sc to the is_param_base which means the actual strategy depends on the generic being there because
            // the is_param_base is a generic structure.

            // For now:
            if (confirm("This is risky.  Do you really want to delete this generic strategy?")) {
                var url_mask = "{% url 'delete_generic_strategy' strategyId=12345 %}".replace(/12345/, val);
                location.href = url_mask;
            }
        }

        function saveStrategy () {
            var url_mask = "{% url 'generic_strategy_save' id=12345 %}".replace(/12345/, stratId);
            var name = $('#strategy_name').val();
            var descr = $('#strategy_description').val();
            var lc = $('#strategy_lc').val();
            $.ajax({
                url: url_mask,
                type: "POST",
                data: {name: name,  description: descr, lc: lc},
                success: function (data) {
                    location.href = '{% url 'generic_list' %}';
                }
            });
            $('#strategyModalEditor').modal('toggle');
        }

        function fillStratDialog (data) {
            $('#strategy_name').val(data.name);
            $('#strategy_description').val(data.description);
            {#$('#strategy_lc').val(data.lc);#}

            $('#strategy_lc').empty();
            var curLCID = data.lcid;
            $('#strategy_lc')
                .append($("<option/>").val(-1).text('No Learning Companion'));
            var allLCs = data.all_lcs;
            // allLCs is JSON with all the learning companions.   Each key is an lc-id, Each value is a String which is the name+character of the lc.
            $.each(allLCs, function(key, value) {
                $('#strategy_lc')
                    .append($("<option/>").val(key).text(value));
            });
            if (curLCID)
                $('#strategy_lc').val(curLCID); // sets the option that has curlcId as its val to be selected
            else
                $('#strategy_lc').val(-1);
        }

        function showStratDialog (sid) {
            stratId = sid;
            var url = '{% url 'generic_strategy_json' strategyId=12345 %}';
            url = url.replace(/12345/, stratId);
            $.get(url, function(data) {
                fillStratDialog(data);
                $('#strategyModalEditor').modal('show');

            });
        }

        $(function () {

            $('.deleteGeneric').click(function () { deleteGenericStrategy(this); });
        });

    </script>
{% endblock %}

{% block content %}

    <h1>Generic Strategies:</h1>
    <table>
    <thead><td>name</td><td>delete</td></thead>
    <tbody>
    {% for s in strategies %}
        <tr><td><a  onclick="showStratDialog({{ s.id }})">{{ s.name }}</a></td><td><input class="deleteGeneric" type="checkbox" name="deleteGeneric" value="{{ s.id }}"></td></tr>



    {% endfor %}
    </tbody>
    </table>

    <p id="message" style="color:red"></p>

    {#    Modal Dialog that comes up when click on edit icon of Strategy #}
    <div class="modal fade" id="strategyModalEditor" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div id="dialogHeader" class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 id="strategy-dialog-title" class="modal-title">Strategy</h4>
                </div>
                <div class="modal-body" style="padding:40px 50px;">
                    <form role="form">
                        <div class="form-group">
                            <label for="strategy_name">Name</label>
                            <input type="text" class="form-control" id="strategy_name">
                        </div>
                        <div class="form-group">
                            <label for="strategy_description">Description</label>
                            <textarea id="strategy_description" class="form-control" rows="3" cols="40"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="strategy_lc">Learning Companion</label>
                            <select class="form-control" id="strategy_lc">
                            </select>
                        </div>


                    </form>
                </div>
                <div class="modal-footer">
                    <button onClick="saveStrategy();" class="btn btn-success"><span class="glyphicon glyphicon-save"></span>Save</button>
                    <button type="button" class="btn btn-danger btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>

        </div>
    </div>


{% endblock %}