<!DOCTYPE html>
{% extends 'msadmin/base_ajax.html' %}
{% load staticfiles %}

{% block page-css %}
{#    <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.css" rel="stylesheet">#}
{% endblock %}

{% block page-js %}
    <!-- include summernote css/js -->
    {#    Include code mirror so we can see the HTML in the summernote editor #}
    <!-- include codemirror (codemirror.css, codemirror.js, xml.js, formatting.js) -->
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/codemirror/3.20.0/codemirror.css">
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/codemirror/3.20.0/theme/monokai.css">
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/codemirror/3.20.0/codemirror.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/codemirror/3.20.0/mode/xml/xml.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/codemirror/2.36.0/formatting.js"></script>
{#    Include summernote to give an HTML editor #}
    <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.css" rel="stylesheet">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.js"></script>


    <!-- Latest compiled and minified stuff to give us sortable tables -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/locale/bootstrap-table-en-US.js"></script>

    <script type="text/javascript" src="{% static 'js/DMPulldown.js' %}"></script>

    <script language="JavaScript">


    const SAVE_TOPIC_INTRO_URL = "{% url 'topic_save_intro' 12345 %}";
    const SAVE_TOPIC_INTRO_IMAGE_FILE_URL = "{% url 'save_topic_intro_image_file' 12345 %}";
    const REMOVE_TOPIC_PROBLEMS_URL = "{% url 'remove_topic_problems' 12345 %}";

    var checkedRows = [];

    function validateTopic() {
        return true;
    }

    function fillPulldowns (selectedType) {
        var opts = [{label: "SWF", value: "swf"}, {label: "HTML", value: "html"}];
        $('#type_pulldown').DMPulldown({
            selectedOption:selectedType,
            options: opts
        });


    }

    function saveIntro (topicId) {
        var form = $('#topicIntroForm')[0]; // get the Javascript obj for the hint form
        var data = new FormData(form); // put all the form fields into data
        var url = SAVE_TOPIC_INTRO_URL.replace('12345', topicId);
        $.ajax({
            url: url,
            type: "POST",
            data: data,
            processData: false,
            contentType: false,
            error: function (a, b, c) {
                console.log("Failed to write to server! " + a.responseText + b);
                console.log(a);
                $('#metaInfoMessages').html("Failed to write meta info server! " + a.responseText + b);
            },
            success: function (data) {
                console.log(data);
                $('#topicIntroMessage').html(data.message);

                $('#topicIntroHTML').summernote('reset');
                $('#topicIntroHTML').summernote('code', data.htmlText);
                $('#topicIntroFile').val(null);
            }
        });
    }

    function removeSelectedProblems (topicId) {
        var data = new FormData();
        // checkedRows is a list of pid that are used as the id of each <tr>
        for (rowid of checkedRows) {
            data.append('removeProblemFromTopic',rowid);
        }
        if (confirm("Are you sure you want to remove these problems from the topic")) {
            var url = REMOVE_TOPIC_PROBLEMS_URL.replace('12345', topicId);
            $.ajax({
                url: url,
                type: "POST",
                data: data,
                processData: false,
                contentType: false,
                error: function (a, b, c) {
                    console.log("Failed to write to server! " + a.responseText + b);
                    console.log(a);
                    $('#metaInfoMessages').html("Failed to write meta info server! " + a.responseText + b);
                },
                success: function (data) {
                    removeProblemTableRows()
                }
            });
        }

    }

    // Each row's <tr> has an id of the probId so we just go through the ids that were
    // put in the checkedRows and find the row and remove it.
    // Using the bootstrap table way of getting rid of a row.
    function removeProblemTableRows () {
        $.each(checkedRows, function(index, value) {
            $('#probTable').bootstrapTable('removeByUniqueId', value);
        });
        checkedRows = [];

    }



    function addProbToTopic () {

    }

    // When an image is added to the topicIntro summernote, this gets an event with the file.   It sends the file
    // to the server and gets back the URL that it is saved to which is then inserted into the summertext as an
    // img with the correct src.
    function sendFile (file, topicId) {
        var data = new FormData();
        data.append('file',file);
        data.append('topicId', topicId);
        var url = SAVE_TOPIC_INTRO_IMAGE_FILE_URL.replace('12345', topicId);
        $.ajax({
            url: url,
            data: data,
            cache: false,
            contentType: false,
            processData: false,
            type: 'POST',
            success: function (data) {
                var url = data.url;
                // insert an image with the correct url
                $('#topicIntroHTML').summernote('insertImage',url);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(textStatus+ " " + errorThrown);
            }
        });
    }



    function htmlDecode(input){
        var e = document.createElement('div');
        e.innerHTML = input;
        return e.childNodes.length === 0 ? "" : e.childNodes[0].nodeValue;
    }

    $(document).ready(function() {
        fillPulldowns({% if topic %} '{{ topic.type }}' {% else %} 'swf' {% endif %});

        $('#topicIntroHTML').summernote({
            height: 400,
            width: 600,
            codemirror: { theme: 'monokai' },
            callbacks: {
                // gets called when a file is put into the summernote
                onImageUpload: function (files) {
                    for (var i = 0; i < files.length; i++) {
                        sendFile(files[i] {% if topic %}, {{ topic.id }}{% endif %});
                    }
                }
            }


        });
        $('#topicIntroHTML').summernote('reset');
        var introText = `{{ introHTML }}`;
        // sometimes the introText causes a JS syntax error.  This is because its an HTML string with all kinds of
        // escaped stuff in it
        $('#topicIntroHTML').summernote('code', htmlDecode(introText));

        $('#probTable').on('check.bs.table', function (e, row) {
            checkedRows.push(row.id);
        });

        $('#probTable').on('uncheck.bs.table', function (e, row) {
            console.log(row);
            console.log(checkedRows);
            var ix = checkedRows.indexOf(row.id);
            checkedRows.splice(ix,1);
        });


    });
    </script>
{% endblock %}


{% block content %}
<form method="post" enctype="multipart/form-data" onsubmit="return validateTopic();" action="{% url 'topics_save' %}">
    {% csrf_token %}
    <div class="form-group">
        <div class="row">
            <div class="col col-sm-3">
                <div class="input-group">
                    <span class="input-group-addon">ID</span>
                    {% if not topic %}
                        <input id="id" type="text" class="form-control" name="id" readonly placeholder="--">
                    {% else %}
                        <input id="id" type="text" class="form-control" name="id" readonly value = "{{ topic.id }}" placeholder="--">
                    {% endif %}

                </div>
            </div>
            <div class="col col-sm-8">
                <div class="input-group ">
                    <span class="input-group-addon">Description</span>
                    {% if not topic %}
                        <input id="descr" type="text" class="form-control" name="descr" placeholder="Topic Description">
                    {% else %}
                        <input id="descr" type="text" class="form-control" name="descr" value = "{{ topic.description }}" placeholder="Topic Description">
                    {% endif %}

                </div>
            </div>
        </div>
        <br>
        <div class="input-group">
            <span class="input-group-addon">Summary</span>
            {% if not topic %}
                <input id="summary" type="text" class="form-control" name="summary" placeholder="Summary">
            {% else %}
                <input id="summary" type="text" class="form-control" name="summary" value = "{{ topic.summary }}" placeholder="Summary">
            {% endif %}

        </div>
        <br>
        <div>
            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                <span class="input-group-addon">Intro Type</span>
                <select id="type_pulldown" name='introType' class="form-control"></select>
            </div>
        </div>
        <br>

        <div class="input-group">
            <span class="input-group-addon">Intro</span>
            {% if not topic %}
                <input id="intro" type="text" class="form-control" name="intro" placeholder="--">
            {% else %}
                <input id="intro" type="text" class="form-control" name="intro" value = "{{ topic.intro }}" placeholder="--">
            {% endif %}

        </div>

        <br>

    </div>

    <button id="saveButton" class="btn btn-primary">Save</button>
</form>


    <div class="container"></div>
    <div id="probTabs" class="container">
        <ul class="nav nav-tabs">
            <li class="active">
                <a  href="#tab1" data-toggle="tab">Problems</a>
            </li>
            <li><a href="#tab2" data-toggle="tab">Topic Intro</a>
            </li>
            <li><a href="#tab3" data-toggle="tab">Meta Info</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="tab1">
                <a id="addProb" onclick="addProbToTopic()" href="#hintTable"><span class="glyphicon glyphicon-plus" data-toggle="tooltip" data-original-title="Add a problem"></span></a>
                {#                    <a id="delHint" onclick="deleteSelectedHints({{ problem.id }})" href="#hintTable"><span class="glyphicon glyphicon-minus" data-toggle="tooltip" data-original-title="Delete selected hints"></span></a>#}
                <form id="topicProblemForm">
                    <table id="probTable" data-toggle="table"
                           data-unique-id="id"
                           data-pagination="true"
                           data-search="true"
                           data-show-refresh="true"
                           data-show-toggle="true"
                           data-show-columns="true"
                           data-toolbar="#toolbar">

                        <thead>
                        <tr>
                            <th data-field="state" data-checkbox="true">Remove</th>
{#                            <th style="width: 30px" >Remove</th>#}
                            <th style="width: 30px" data-field="id" data-sortable="true">ID</th>
                            <th style="width: 30px"  data-field="status" data-sortable="true">Status</th>
                            <th  data-field="ccss" data-sortable="true">CCSS</th>
                            <th  data-field="stmt" data-sortable="true">statement</th>
                        </tr>
                        </thead>

                        <tbody id="probtbody">
                        {% for p in problems %}

                            <tr id="{{ p.id }}" >
{#                                <td><input name="removeProblemFromTopic" value="{{ p.id }}" type="checkbox"></td>#}
                                <td></td>
                                <td class="prob-id">{{ p.id }}</td>

                                <td class="prob-status">{{ p.status }}</td>

                                <td class="prob-stds">
                                    {% for std in p.getStandards %}
                                        {{ std.idABC }} &nbsp;
                                    {% endfor %}
                                </td>
                                <td class="statement">
                                    {% if p.isQuickAuth %}
                                        <a href="{% url 'qauth_edit_prob' p.id %}"> {{ p.statementHTML }}</a>
                                    {% else %}
                                        {{ p.statementHTML }}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <a href="#hintTable" class="btn btn-primary" onClick="removeSelectedProblems({{ topic.id }})">Remove Selected Problems from Topic</a>

                    <a href="#hintTable" class="btn btn-primary">Save Changes to Problems</a>
                </form>
                {#                    <a id="testButton" onclick="validateHints()" href="#hintTable"><span class="glyphicon glyphicon-scale" data-toggle="tooltip" data-original-title="Add alert"></span></a>#}
                {#                    <a id="testButton2" onclick="setHintAlert (2, 'hi')" href="#hintTable"><span class="glyphicon glyphicon-scale" data-toggle="tooltip" data-original-title="Remove alert"></span></a>#}
                <p style="color: red" id="topicErrorMessages"></p>
            </div>

            <div class="tab-pane" id="tab2">
                <form id="topicIntroForm" method="post"  enctype="multipart/form-data" action="{% url 'topic_save_intro' topic.id %}">
                    {% csrf_token %}
                    <p>You can upload an HTML file or you can create the HTML in the editor below and save it.</p>
                    <input id="topicIntroFile" type="file" class="form-control-file" name="topicIntroFile">
                    <br><br>
                    <textarea id="topicIntroHTML" name="topicIntroHTML"></textarea>
{#                    <button class="btn btn-primary">Save</button>#}
                    <a href="#tab2" onclick="saveIntro({{ topic.id }})" class="btn btn-primary">Save</a>
                    <p id="topicIntroMessage"></p>
                </form>
            </div>
        </div>
    </div>

{% endblock %}